# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Database files
*.db
*.sqlite
*.sqlite3

# IDE and Editor related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Windows specific
windows/flutter/ephemeral/

# macOS / iOS specific
**/ios/Pods/
**/ios/Runner.xcworkspace
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/

# Android specific
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle
/android/captures
**/android/app/build/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Widget Preview
.widget_preview/
